.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 25em;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(129, 129, 129);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding: 1.3em;
    }
}

.library-song{
    padding: 1em 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        width: 30%;
    }
    &:hover{
        background-color: rgb(183, 238, 255);
    }
}

.song-description{
    padding: 1em;
    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 1em;
    }
}


*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected{
    background-color: rgb(224, 224, 224);
}

.active-library{
    transform: translateX(0);
    opacity: 1;
}

@media screen and (max-width: 768px){
    .library{
        width: 100%;
    }
}