nav{
    min-height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: none;
        border: none;
        cursor: pointer;
        border: 2px solid gray;
        padding: 1em;
        border-radius: 3em;
        transition: all 0.4s ease;
        &:hover{
            background-color: gray;
            color: white;
            box-shadow: 1px 1px 5px gray;
        }
        &:focus{
            outline: none;
        }
    }
}

@media screen and (max-width: 768px){
    nav{
        button{
            z-index: 10;
        }
    }
}